<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/blog.css">
    </head>
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-10 col-md-10 col-lg-10" style="margin: 20px;">
                <div class="card">
                    <div class="contain">
                        <img class="card-img" src=<%=blogs.img %> alt="Bologna">
                        <div class="top-left">
                            <a href="<%= '/'+blogs.type %>" class="btn btn-light btn-sm">
                                <%= blogs.type %>
                            </a>
                        </div>
                        <div class="top-right">

                            <form action="/delete:<%= blogs._id %>" >
                                <button type="submit" href="" class="btn btn-light btn-sm">
                                    <img src="delete.png" alt="" style="width: 20px; height: 20px;">
                                </button>
    
                            </form>

                        </div>

                    </div>


                    <div class="card-body">
                        <h4 class="card-title">
                            <%= blogs.title %>
                        </h4>
                        <small class="text-muted cat">
                            <i class="far fa-clock text-info"></i>
                            <%=String(blogs.date.getHours())+":"+String(blogs.date.getMinutes())+":"+String(blogs.date.getSeconds())%>
                        </small>
                        
                        <a href="/detail:<%=blogs.author%>" class="text-muted cat right" >
                            By <%=" "+blogs.author%>
                        </a>
                        <p class="card-text">
                            <%- blogs.content.replace(/\r\n/g, "</p><p>" ).replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;') %>
                        </p>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views">
                            <%=" Date: "+String(blogs.date.getDate())+" /"+month[blogs.date.getMonth()]+"/"+
                                String(blogs.date.getFullYear())%>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-10 col-lg-10" style="margin: 20px;">
                <div class="card" style="padding: 10px;">
                    
                    <% if(isLoggedIn) {%>
                        <form  action="/read:<%= blogs._id %>" method="post">
                            <input style=" width:79%" type="text" name="comment" id="comment" placeholder="Comment">
                            <button style="width:19%; " type="submit">Add Comment</button>
                        </form>
                        
                    <% } %>
                    <br>
                    <h3>Comments</h3>
                    <% for(let i in comment){ %>

                        <div class="container" style="border: 1px solid; margin:10px; width:auto; padding-top:10px">
                            <div style="position:relative">
                                
                                <div style="left:0 ; position:absolute">
                                    <h3 style="display:inline-block ;">
                                        <%= comment[i].user %>
                                    </h3>                                        
                                </div>
                                <div style="right: 0; position:absolute">
                                    <p  class="text-muted cat">
                                        <i class="far fa-clock text-info"></i>
                                        <%=String(comment[i].date.getHours())+":"+String(comment[i].date.getMinutes())+":"+String(comment[i].date.getSeconds())%>
                                        <%=String(comment[i].date.getDate())+" /"+month[comment[i].date.getMonth()]+"/"+
                                            String(comment[i].date.getFullYear())%>
                                    </p>
                                </div>
    
                            </div>
                            <br>
                            <br>
                            <p style="margin-left:20px ;">
                                <%= comment[i].comment %>
                            </p>
                        </div>
                        <% } %>

                </div>
            </div>

        </div>
    </div>
    <%- include('partials/footer') %>